<app-home-page-admin></app-home-page-admin>

<div class="container">
  <form class="employee-list-form">
    <mat-card-title>ADD EMPLOYEE</mat-card-title>

    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      [(ngModel)]="username"
      placeholder="Username"
    />

    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstname"
      [(ngModel)]="firstName"
      placeholder="First name"
    />

    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      [(ngModel)]="lastName"
      placeholder="Last name"
    />

    <input
      type="number"
      class="form-control"
      id="lastName"
      name="lastName"
      [(ngModel)]="age"
      placeholder="Age"
    />

    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Email"
    />

    <button class="employee-list_button" (click)="addEmployee()">
      Add employee
    </button>
  </form>

  <div>
    <h5 class="employee-list-table">Employee List</h5>

    <table>
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeesList">
          <td>{{ employee.username }}</td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.email }}</td>
          <td>
            <button
              class="btn btn-outline-danger"
              (click)="deleteEmployee(employee)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
