.employee-list-form{
    border-radius: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
    padding: 2rem;
    text-align: center;
    width: 30vw;
}

input{
    color: black;
}

p{
    font-size: 12px;
}

.employee-list_button{
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: larger;
}

table, thead, tbody{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

tr{
    display: flex;
    gap: 1rem;
}
