<form [formGroup]="userInfo" class="registration-form" (ngSubmit)="saveFormToLocalStorage()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>SIGN UP</mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="Username">
        <mat-error *ngIf="userInfo.controls['username'].errors?.['required']">Field cannot be empty</mat-error>
        <mat-error *ngIf="userInfo.controls['username'].errors?.['pattern']">Must have at least 6 characters. Use letters, numbers, special character.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput placehoder="First name" type="text" minlength="2">
        <mat-error *ngIf="userInfo.controls['firstName'].errors?.['required']">Field cannot be empty</mat-error>
        <mat-error *ngIf="userInfo.controls['firstName'].errors?.['minlength']">First name must have at least 2 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last name</mat-label>
        <input formControlName="lastName" matInput placeholder="Last name" type="text">
        <mat-error *ngIf="userInfo.controls['lastName'].errors?.['required']">Field cannot be empty</mat-error>
        <mat-error *ngIf="userInfo.controls['lastName'].errors?.['minLength']">Last name must have at least 2 characters</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input formControlName="age" matInput placeholder="Age" type="number">
        <mat-error *ngIf="userInfo.controls['age'].errors?.['required']">Field cannot be empty</mat-error>
        <mat-error *ngIf="userInfo.controls['age'].errors?.['min'] || userInfo.controls['age'].errors?.['max']">You don't fit within the age limit</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email" type="email">
        <mat-error *ngIf="userInfo.controls['email'].errors?.['required']">Field cannot be empty</mat-error>
        <mat-error *ngIf="userInfo.controls['email'].errors?.['email']">Invalid email</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password" type="password">
        <mat-error *ngIf="userInfo.controls['password'].errors?.['required']">Field cannot be empty</mat-error>
        <mat-error *ngIf="userInfo.controls['password'].errors?.['pattern']">Must have at least 6 characters. Use letters, numbers, special character.</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input formControlName="confirmPassword" matInput placeholder="Confirm Password" type="password">
        <mat-error *ngIf="userInfo.controls['confirmPassword'].errors?.['required']">Field cannot be empty</mat-error>
        <mat-error *ngIf="userInfo.controls['confirmPassword'].errors?.['mustMatch']">Confirmation password must be the same as password</mat-error>
    </mat-form-field>

    <a mat-raised-button color="primary" class="registration-form__button" [disabled]="!userInfo.valid" (click)="saveFormToLocalStorage()" routerLink="/login-page"><span>SIGN UP</span></a> 
    
    <div class="registration-form__terms-conditions-policy">
        <p>By clicking the Sign Up button you agree to our</p>

        <p>Terms and Conditions and Policy Privacy</p>
    </div>

</form>

<p class="have-account">Already have an account?
    <span routerLink="/login-page">Login here</span>
</p>
