.registration-form {
  background-color: black;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem;
  text-align: center;
  width: 30vw;
}

p {
  font-size: 12px;
}

.registration-form__button {
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: larger;
}

.have-account {
  text-align: center;
}
