
.editorconfig
.firebaserc
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
angular.json
firebase.json
package-lock.json
package.json
README.md
src/app/app-routing.module.ts
src/app/app.component.css
src/app/app.component.html
src/app/app.component.spec.ts
src/app/app.component.ts
src/app/app.module.ts
src/app/components/edit-profile/edit-profile.component.css
src/app/components/edit-profile/edit-profile.component.html
src/app/components/edit-profile/edit-profile.component.spec.ts
src/app/components/edit-profile/edit-profile.component.ts
src/app/components/homepage/homepage.component.css
src/app/components/homepage/homepage.component.html
src/app/components/homepage/homepage.component.spec.ts
src/app/components/homepage/homepage.component.ts
src/app/components/login/login.component.css
src/app/components/login/login.component.html
src/app/components/login/login.component.spec.ts
src/app/components/login/login.component.ts
src/app/components/registration/registration.component.css
src/app/components/registration/registration.component.html
src/app/components/registration/registration.component.spec.ts
src/app/components/registration/registration.component.ts
src/app/components/reset-password/reset-password.component.css
src/app/components/reset-password/reset-password.component.html
src/app/components/reset-password/reset-password.component.spec.ts
src/app/components/reset-password/reset-password.component.ts
src/app/components/shifts/shifts.component.css
src/app/components/shifts/shifts.component.html
src/app/components/shifts/shifts.component.spec.ts
src/app/components/shifts/shifts.component.ts
src/assets/.gitkeep
src/assets/LOGO-white.png
src/assets/LOGO.png
src/assets/Wave.svg
src/environments/environment.ts
src/favicon.ico
src/index.html
src/main.ts
src/styles.css
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
.editorconfig
.firebaserc
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
angular.json
firebase.json
package-lock.json
package.json
README.md
src/app/app-routing.module.ts
src/app/app.component.css
src/app/app.component.html
src/app/app.component.spec.ts
src/app/app.component.ts
src/app/app.module.ts
src/app/components/edit-profile/edit-profile.component.css
src/app/components/edit-profile/edit-profile.component.html
src/app/components/edit-profile/edit-profile.component.spec.ts
src/app/components/edit-profile/edit-profile.component.ts
src/app/components/homepage/homepage.component.css
src/app/components/homepage/homepage.component.html
src/app/components/homepage/homepage.component.spec.ts
src/app/components/homepage/homepage.component.ts
src/app/components/login/login.component.css
src/app/components/login/login.component.html
src/app/components/login/login.component.spec.ts
src/app/components/login/login.component.ts
src/app/components/registration/registration.component.css
src/app/components/registration/registration.component.html
src/app/components/registration/registration.component.spec.ts
src/app/components/registration/registration.component.ts
src/app/components/reset-password/reset-password.component.css
src/app/components/reset-password/reset-password.component.html
src/app/components/reset-password/reset-password.component.spec.ts
src/app/components/reset-password/reset-password.component.ts
src/app/components/shifts/shifts.component.css
src/app/components/shifts/shifts.component.html
src/app/components/shifts/shifts.component.spec.ts
src/app/components/shifts/shifts.component.ts
src/assets/.gitkeep
src/assets/LOGO-white.png
src/assets/LOGO.png
src/assets/Wave.svg
src/environments/environment.ts
src/favicon.ico
src/index.html
src/main.ts
src/styles.css
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
.firebaserc
