<form
  [name]="resetPassword"
  [formGroup]="resetPassword"
  class="reset-password-form"
  (ngSubmit)="reset()"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>RESET YOUR PASSWORD</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-form-field>
    <mat-label>New password</mat-label>
    <input formControlName="passwordReset" matInput type="password" />
    <mat-error
      *ngIf="resetPassword.controls['passwordReset'].errors?.['required']"
      >Field cannot be empty</mat-error
    >
    <mat-error
      *ngIf="resetPassword.controls['passwordReset'].errors?.['pattern']"
      >Must have at least 6 characters. Use letters, numbers, special
      character.</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input formControlName="confirmPasswordReset" matInput type="password" />
    <mat-error
      *ngIf="resetPassword.controls['confirmPasswordReset'].errors?.['required']"
      >Field cannot be empty</mat-error
    >
    <mat-error
      *ngIf="resetPassword.controls['confirmPasswordReset'].errors?.['mustMatch']"
      >Confirmation password must be the same as password</mat-error
    >
  </mat-form-field>

  <a
    mat-raised-button
    color="primary"
    class="reset-password-form__button"
    [disabled]="!resetPassword.valid"
    (click)="reset()"
    routerLink="/login"
    ><span>RESET</span></a
  >
</form>
