*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

mat-error{
    color: grey;
}

:disabled{
    border-color: gray;
    color: gray;
}

input{
    color: white;
}

mat-card{
    font-size: x-large;
    font-weight: 700;
    margin: auto;
}

a{
    text-decoration: none;
}
html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    display: flex;
    align-items: center;
    justify-content: center;
}