<mat-toolbar class="navigation-bar" (ngSubmit)="ngOnInit()" >
    <mat-icon class="navigation-bar__logo">
        <a routerLink="/home-page-admin">
            <img src="../assets/LOGO-white.png" alt="logo" width="70vw">
        </a>
    </mat-icon>

    <span>HELLO, <input type="text" matInput [(ngModel)]="helloUser" style="color: black;"></span>

    <a mat-button routerLink="/all-workers-page">EMPLOYEES LIST</a>

    <a mat-button routerLink="/all-shifts-page">SHIFTS LIST</a>

    <a mat-button routerLink="/login">LOG OUT</a>
</mat-toolbar>

<app-worker-of-the-month></app-worker-of-the-month>

<app-week-shifts></app-week-shifts>


