<app-home-page-user></app-home-page-user>
<br />
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<div class="container">
  <form class="containerAddShift">
    <input
      type="date"
      class="form-control"
      id="date"
      name="date"
      [(ngModel)]="date"
      placeholder="date"
    />
    <input
      type="time"
      class="form-control"
      id="startTime"
      name="startTime"
      [(ngModel)]="startTime"
      placeholder="Start Time"
    />
    <input
      type="time"
      class="form-control"
      id="endTime"
      name="endTime"
      [(ngModel)]="endTime"
      placeholder="End Time"
    />
    <input
      type="text"
      class="form-control"
      id="wage"
      name="wage"
      [(ngModel)]="wage"
      placeholder="Hourly wage"
    />
    <span>
      <label for="shiftPlace">Shift place:</label>
      <select
        id="shiftPlace"
        name="shiftPlace"
        [(ngModel)]="shiftPlace"
        class="form-control"
      >
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select></span
    >
    <input
      type="text"
      class="form-control"
      id="comment"
      name="comment"
      [(ngModel)]="comment"
      placeholder="Comment"
    />
    <button class="shiftListBtn" (click)="addShift()">Add Shift</button>
  </form>
  <div class="containerTabel">
    <table>
      <thead>
        <tr>
          <th scope="col">Worker name</th>
          <th scope="col">Date</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Wage</th>
          <th scope="col">Shift Place</th>
          <th scope="col">Total earnings</th>
          <th scope="col">Comment</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let shift of shiftsList">
          <ng-container
            *ngIf="
              searchText === '' ||
              shift.shiftPlace.toLowerCase().includes(searchText) ||
              shift.date.toLowerCase().includes(searchText)
            "
          >
            <tr class="containerAddedTabel">
              <td>{{ shift.lastName + ", " + shift.firstName }}</td>
              <td>{{ shift.date }}</td>
              <td>{{ shift.startTime }}</td>
              <td>{{ shift.endTime }}</td>
              <td>{{ shift.wage }}</td>
              <td>{{ shift.shiftPlace }}</td>
              <td>{{ shift.totalEarnings }}$</td>
              <td>{{ shift.comment }}</td>
              <td>
                <button (click)="editShift(shift)">Edit</button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <h1>The highest Mounth earnings: {{ getMonthWithHighestEarnings() }}$</h1>
  </div>
</div>
