<form
  [name]="loginInfo"
  [formGroup]="loginInfo"
  class="login-form"
  (ngSubmit)="login()"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>LOGIN</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input formControlName="usernameLogin" matInput />
    <mat-error *ngIf="loginInfo.controls['usernameLogin'].errors?.['required']"
      >Field cannot be empty</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="passwordLogin" type="password" matInput />
    <mat-error *ngIf="loginInfo.controls['passwordLogin'].errors?.['required']"
      >Field cannot be empty</mat-error
    >
  </mat-form-field>

  <a
    mat-raised-button
    color="primary"
    class="login-form__button"
    [disabled]="!loginInfo.valid"
    routerLink="/homepage"
    (click)="login()"
    ><span>LOGIN</span></a
  >
</form>

<div class="login-form__no-account-forgot-password">
  <p>
    Don't have an account? <span routerLink="/registration">Sign up here.</span>
  </p>

  <p>
    Forgot your password?
    <span routerLink="/reset-password">Reset password.</span>
  </p>
</div>
