<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Shifts Page</title>
  </head>
  <body>
    <app-home-page-admin></app-home-page-admin>
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

    <table>
      <thead>
        <tr>
          <th scope="col">Worker name</th>
          <th scope="col">Date</th>
          <th scope="col">Start time</th>
          <th scope="col">End time</th>
          <th scope="col">Shift place</th>
          <th scope="col">Wage</th>
          <th scope="col">Comment</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shift of shifts">
          <div class="shifts-container" style="width: 100vw;"
          *ngIf="searchText === ''
          || shift.firstName.toLowerCase().includes(searchText) 
          || shift.lastName.toLowerCase().includes(searchText)
          || shift.date.toLowerCase().includes(searchText)">
              <td>{{ shift.firstName + ' ' + shift.lastName }}</td>
              <td>{{ shift.date }}</td>
              <td>{{ shift.startTime }}</td>
              <td>{{ shift.endTime }}</td>
              <td>{{ shift.shiftPlace }}</td>
              <td>{{ shift.wage }}</td>
              <td>{{ shift.comment }}</td>
              <td>
                <button (click)="deleteShift(shift)">Delete</button>
                <button (click)="openDialog(shift)">Edit</button>
              </td>
          </div>
        </tr>
      </tbody>
    </table>
  </body>
</html>