<app-home-page-admin></app-home-page-admin>

<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>


<table>
    <thead>
      <tr>
        <th>Worker name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <div class="users-container"
        *ngIf="searchText === ''
        || user.firstName.toLowerCase().includes(searchText) 
        || user.lastName.toLowerCase().includes(searchText)">
            <td>{{ user.firstName + ' ' + user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            <td><button (click)="deleteEmployee(user.id)">Delete</button></td>
            <td><button (click)="editEmployee(user)">Edit</button></td>
        </div>
      </tr>
    </tbody>
  </table>